dynawo-extensions/dynawo-extensions-serde/src/main/resources/xsd/generator_connection_level_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:gcl="http://www.powsybl.org/schema/iidm/ext/generator_connection_level/1_0"
           targetNamespace="http://www.powsybl.org/schema/iidm/ext/generator_connection_level/1_0"
           elementFormDefault="qualified">

    <xs:simpleType name="GeneratorConnectionLevelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TSO"/>
            <xs:enumeration value="DSO"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="generatorConnectionLevel">
        <xs:complexType>
            <xs:attribute name="level" use="required" type="gcl:GeneratorConnectionLevelType"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
